@charset "utf-8";

html, h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", sans-serif;
}

body {
    overflow: hidden;
}

/* Apply a shiv to bootstrap until it learns obedience */

.menubar {
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    height: 30px;
    background: #444;
    z-index: 1;
    box-shadow: 0 0 10px black;
    padding: 2px 15px;
}

.menubar + div {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}

.menubar.navbar-nav > li > a {
    padding: 4px 10px;
    color: #eee;
}

.menubar.navbar-nav > li > a:hover {
    background: #777;
}

.menubar .dropdown-menu {
    border: none;
    border-radius: 0;
    background: #f8f8f8;
}

.dropdown-menu > li > label {
    font-weight: normal;
    padding: 3px 20px;
    margin: 0;
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-drag: none; 
}

.dropdown-menu > li > label > input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    margin-left: -14px;
    width: 14px;
    position: absolute;
    z-index: 2000;
}

.dropdown-menu > li > label > input[type="checkbox"]:checked + span:before {
    content: '✓';
    font-weight: bold;
    position: relative;
    display: block;
    float: left;
    margin-left: -15px;
    width: 14px;
    height: 20px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > label:hover {
    background-color: #eee;
}

.menubar.navbar-nav > li > a:focus, .menubar.nav .open > a,
.menubar.nav .open > a:focus, .menubar.nav .open > a:hover {
    background: #f8f8f8;
    color: #555;
}

.menubar .navbar-nav > .active > a, 
.menubar .navbar-nav > .active > a:hover, 
.menubar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.menubar .navbar-nav > .open > a, 
.menubar .navbar-nav > .open > a:hover, 
.menubar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
.menubar .navbar-toggle {
    border-color: #DDD;
}
.menubar .navbar-toggle:hover,
.menubar .navbar-toggle:focus {
    background-color: #DDD;
}
.menubar .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .menubar .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .menubar .navbar-nav .open .dropdown-menu > li > a:hover,
    .menubar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.dropdown-menu.context-menu {
    display: block;
    border-radius: 0;
    background: #f8f8f8;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu > .dropdown-menu > li:first-child:before,
.dropdown-submenu > .dropdown-menu > li.first-child:before {
    content: '';
    position: absolute;
    left: -10px;
    width: 10px;
    top: 0;
    height: 36px;
    background: #f8f8f8;
    z-index: -1;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    border-radius:0;
    z-index: -2;
    background: #f8f8f8;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#888;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#888;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.nav-tabs {
    border-bottom: 1px solid #888;
}

.nav-tabs > li > a {
    padding: 3px 10px;
    background: #444;
    border-radius: 0;
    color: #eee;
    margin: 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.nav-tabs > li > a {
    padding: 3px 10px;
    background: #444;
    border-radius: 0;
    color: #aaa;
    margin: 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: #777;
    border-color: black;
    border-left: 1px solid transparent;
    color: #ccc;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #777;
    border-color: #444;
    color: white;
}

section {
    border: 1px solid #888;
    height: calc(100% - 5px);
    margin-top: 5px;
}

section > h3:first-child {
    position: relative;
    top: -10px;
    margin-top: 0;
    font-size: 16px;
    padding: 0px 10px;
    z-index: 1;
    width: auto;
    display: inline-block;
}

section > h3:first-child:before {
    position: absolute;
    display: block;
    background: white;
    content: '';
    top: 0;
    left: 3px;
    right: 0;
    bottom: 0;
    z-index: -1;
}